version: '3.7'
services:
  web:
    image: "my-app:latest"
    environment:
      Container: ELIXIR
      HOST: "{{HOST}}"
      PHX_HOST: "{{PHX_HOST}}"
      PHX_PORT: "{{PHX_PORT}}"
      PHX_SERVER: "{{PHX_SERVER}}"
      RELEASE_NAME: "{{RELEASE_NAME}}"
      MIX_ENV: "{{MIX_ENV}}"
      SECRET_KEY_BASE: "{{SECRET_KEY_BASE}}"
      PORT: "{{PORT}}"
    ports:
      - "{{PORT}}:{{PORT}}"
  nginx-proxy:
    image: "nginx"
    ports:
      - "80:80"
    volumes:
      - "./proxy/conf.d:/etc/nginx/conf.d:ro"
    links:
      - "web"